.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 2%;
}

.month {
  width: calc(100% * 1 / 3 - 3em);
  padding: 1.5em;

  @media screen and (max-width: 550px) {
    width: calc(100% - 3em);
  }

  @media screen and (max-width: 900px) and (min-width: 550px) {
    width: calc(100% * 1 / 2 - 3em);
  }
}

.month-name {
  margin-bottom: 1em;
  text-align: left;
}

.month-months,
.days-labels {
  display: flex;
  flex-wrap: wrap;
}

.date,
.offset-block,
.label {
  width: calc(100% * 1 / 7 - 0.3em);
  padding: 0.8em 0.15em;
  text-align: right;
}

.date {
  cursor: pointer;
}

.label {
  color: #555;
}

.offset-block {
  color: transparent;
}

.today {
  color: #0074d9;
}
