.calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 1em 2%;
}

.month {
    padding: 1.5em;
    width: calc(100% * 1/3 - 3em);

    @media screen and (max-width: 600px) {
        width: calc(100% - 3em);
    }

    @media screen and (max-width: 800px) and (min-width: 600px)  {
        width: calc(100% * 1/2 - 3em);
    }

   
}

.month-name {
    text-align: left;
    margin-bottom: 1em;
}

.month-months, .days-labels {

    display: flex;
    flex-wrap: wrap;
}

.date, .offset-block, .label {
    text-align: right;
    padding: .8em .15em;
    width: calc(100% * 1/7 - .3em);
}

.label {
    color: #555;
}

.offset-block {
    color: transparent;
}

.today {
    color: #0074D9;
}