html {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    background: #111;
    color: #fff;

    width: 100vw;
    height: 100vh;
}

.head {
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
}