
html {
    font-family: "SF Pro Text","Helvetica Neue",-apple-system,BlinkMacSystemFont,"Helvetica","Segoe UI","Arial",sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    background: $bg;
    color: $fg;

    width: 100vw;
    height: 100vh;
    user-select: none;
}

.head {
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
}

.calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 1em 2%;
}

.month {
    padding: 1.5em;
    width: calc(100% * 1/3 - 3em);

    @media screen and (max-width: 550px) {
        width: calc(100% - 3em);
    }

    @media screen and (max-width: 900px) and (min-width: 550px)  {
        width: calc(100% * 1/2 - 3em);
    }

   
}

.month-name {
    text-align: left;
    margin-bottom: 1em;
}

.month-months, .days-labels {

    display: flex;
    flex-wrap: wrap;
}

.date, .offset-block, .label {
    text-align: right;
    padding: .8em .15em;
    width: calc(100% * 1/7 - .3em);
    
}

.date, .next-year, .prev-year {
    cursor: pointer;
    transition: .2s all;
    &:hover {
        color: $link;
    }
}

.label {
    color: $label;
}

.offset-block {
    color: transparent;
}

.today {
    color: $link;
}